<form *ngIf="ebayForm" class="ebay-form" [formGroup]="ebayForm">
  <div class="col-12 mb-2">
    <label>Sold Price</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold" id="basic-addon1">$</span>
      </div>
      <input type="text" formControlName="soldPrice" numbersOnly class="form-control sold-price" aria-label="Price..." aria-describedby="basic-addon1" />
    </div>
  </div>
  <div class="col-12 mb-2">
    <label>Shipping Cost - </label>
    <i> Seller Pays </i><i class="fa fa-info-circle vtooltip"><span class="vtooltiptext">Shipping cost you, the seller had to pay.</span></i>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold" id="basic-addon1">$</span>
      </div>
      <input class="form-control" formControlName="shippingCost" numbersOnly />
    </div>
  </div>
  <div class="col-12 mb-2">
    <label class="fw-bold">Shipping Cost - </label><i> Buyer Pays</i>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold" id="basic-addon1">$</span>
      </div>
      <input class="form-control" formControlName="shippingCostBuyer" numbersOnly />
    </div>
  </div>
  <div class="col-12">
    <label class="fw-bold">Sales Tax</label>
    <input class="form-control" formControlName="salesTax" numbersOnly />
  </div>
  <div class="col-12">
    <label class="fw-bold">Category</label>
    <select class="form-select" formControlName="category">
      <option value="null">-- Category --</option>
      <option *ngFor="let category of ebayCategories" value="{{category}}">{{category}}</option>
    </select>
  </div>
  <div class="col-12">
    <table class="table mt-3" *ngIf="ebay.profit && ebayForm.get('soldPrice').value > 0">
      <thead class="thead-dark">
        <tr>
          <td>Order Total</td>
          <td>Fees</td>
          <td>Total Profit</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$ {{ ebay?.orderTotal }}</td>
          <td>$ {{ ebay?.fees }}</td>
          <td>$ {{ ebay.profit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="col-12-lg">
    <pre>{{ebayForm.value | json}}</pre>
  </div>
  <div class="col-12">
    dirty: {{ebayForm.dirty}}
  </div>
  <div class="col-12">
    touched: {{ebayForm.touched}}
  </div>-->
  <div class="col-lg-12 clear-button-wrapper">
    <button (click)="clearForm()" class="col-lg-12 btn">Clear</button>
  </div>
</form>
